<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735944639893-f27qbh4cdon0joc4si0g58c0fnqf5qgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735944639893-f27qbh4cdon0joc4si0g58c0fnqf5qgs</string>
	<key>API_KEY</key>
	<string>AIzaSyAH1DhGHMnuIlNNL_1VpBYMvt7MyoPiI2c</string>
	<key>GCM_SENDER_ID</key>
	<string>735944639893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.napoleonsalazar.flashChat</string>
	<key>PROJECT_ID</key>
	<string>fire-chat-df186</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-chat-df186.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735944639893:ios:870ad457eddc4968bc229c</string>
	<key>DATABASE_URL</key>
	<string>https://fire-chat-df186.firebaseio.com</string>
</dict>
</plist>